* {
  padding: 0;
  margin: 0;
  word-break: break-word;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: auto;
  min-height: 100%;
  margin: 0 auto;
  background-color: rgba(221,218,225,0.82);
  background-size: cover;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.column {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: auto;
}

.column-1-4 {
  width: 25%;
  height: auto;
}

.column-3-4 {
  width: 75%;
  min-height: auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
}

.header, .footer {
  height: 250px;
  background-color: rgba(67,69,59,0.82);
  justify-content: center;
  align-items: center;
  color: rgba(255,249,255,0.82);
}

.header {
  background: transparent;
  color: rgba(67,69,59,0.82);
}

.nav-menu {
  width: 100%;
  justify-content: center;
  height: auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: black;
}

.menu-el  {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 200px;
  background-color: darkgrey;
}

.menu-el > a {
  color: rgba(255,249,255,0.82);
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.5em;
  text-decoration: none;
  padding-top: 13%;
}

.menu-el > a:hover {
  color: black;
}

.menu-el:hover {
  background-color: rgba(165,225,216,0.82);
}

.reviews {
  display: flex;
  flex-direction: column;
  background: transparent;
  height: 100%;
}

.review {
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 10px;
  background-color: rgba(179,189,186,0.82);
}

.image {
  height: 100%;
  width: 100%;
}

.div-image {
  float: left;
  height: 150px;
  width: 110px;
}

.text {
  margin-left: 10px;
}

.div-license, .div-order {
  margin: 20px;
  height: auto;
  background-color: rgba(113,115,105,0.82);
  padding: 10px;
}

.div-order > div > div {
  margin-bottom: 20px;
}

h3 {
  color: rgba(255,249,255,0.82);
}

.phone-number {
  height: 1.5em;
}

.call-btn {
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: rgb(212,75,56);
  padding: .7em 1.5em;
  outline: none;
}

.call-btn:hover {
  background: rgb(232,95,76);
}

.call-btn:active {
  background: rgb(152,15,0);
}

.doc-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.doc-links > ul{
  list-style: none;
  font-size: larger;
}

.doc-links > ul > li {
  margin: 10px;
}

li {
  list-style: none;
}

.link {
  color: rgba(255,249,255,0.82);
  text-decoration: none;
  margin: 10px;
}

.link:hover {
  color: black;
}

.contacts, .address {
  width: 100%;
}

.contacts > p , .address > p {
  padding: 10px;
  margin: 20px;
}

.el-left {
  width: 100%;
  float: left;
  text-align: left;
}
